@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	text-align: center;
	font-family: 'Salsa', cursive;
	background-color: antiquewhite;
}

hr{
	max-width: 200px;
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 10px;
}

#turn{
	max-width: 15rem;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: burlywood;
	border: 1px solid black;
	border-radius: 50px 10px 50px 10px;
}

.container{
	width: 450px;
	height: 450px;
	display: grid;
	grid-template-rows: repeat(3,minmax(8em,10rem));
	grid-template-columns: repeat(3,minmax(8em,10rem));
	margin: 0 auto;
	padding: 3px;
	
}

.tile{
	max-width: 147px;
	height: 147px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2em;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}
.tile:nth-child(3n){
	border-right: none;
}
.tile:nth-child(6) ~ .tile{
	border-bottom: none;
}

#restart{
	min-width: 10em;
	height: 10%;
	font-size: 1.5em;
	font-family: 'Salsa', cursive;
	border: 1px solid black;
	border-radius: 50px 10px 50px 10px;
	box-shadow: 5px 2px black;
	background-color: darkgrey;
	margin-top: 5px;
}
